<li class="channel">
    <a class="channel_name">
        <!--<span class="unread">
            0
        </span>-->
        <a href="../{{name}}/{{date}}.html">
            <span>
				<span class="prefix">#</span>
                {{name}}
			</span>
        </a>
    </a>
</li>