<div class="header">
    <div class="team-menu">
        <a href="/">Clojurians</a>
    </div>
    <div class="channel-menu">
			<span class="channel-menu_name">
				<span class="channel-menu_prefix">#</span>
				{{active_channel}}
			</span>
    </div>
</div>