<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Clojurians Slack Log</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
</head>
<body>
<ul>
    {{#channels}}
        <li><a href="{{name}}/index.html">{{name}}</a></li>
    {{/channels}}
</ul>
</body>
</html>