<div class="message" id="{{msgid}}">
    <a href="" class="message_profile-pic" style="background-image: url({{avatar}});"></a>
    <a href="" class="message_username">{{user}}</a>
    <span class="message_timestamp">{{timestamp}}</span>
    <span class="message_star"></span>
    <span class="message_content">{{{text}}}</span>
</div>